* {
    font-family:Arial, Helvetica, sans-serif;
}

.page-title {
    text-align: center;
    color: rgb(170, 1, 1);
}

.index {
    background-color: aliceblue;
}

.index-card {
    margin-top: 100px;
}

.recipe-page {
    background-color: beige;
}

.recipe-links > ul{
    border: 2px solid red;
    padding: 10px;
    display: inline-block;
    list-style-type: none;
    background-color: white;
}

.recipe-links {
    text-align: center;
}

img {
   display: block;
   margin-right: auto;
   margin-left: auto;
}

.recipe-img img{
    block-size: 400px;
    border: 1px solid red;
}

h3 {
    text-align: center;
}

.recipe-card {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color: red;
}

.recipe-description {
    text-align: center;
}

a {
    color: red;
    text-decoration: none;
}